body{
  background-color: #c5eafff8;
}
nav {
  background-color: #2c749ef8;
  font-family: 'Alfa Slab One', cursive;
}

img{
  background-color: transparent; /* Remover cor de fundo */
  width: 95px; /* Tamanho da imagem */
  height: auto;
  margin-left: 25px; /* Ajuste para dar espaço à logo */
  border: none; /* Remove qualquer borda possível */
  padding: 0; /* Remove qualquer padding */
}


.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.navbar-nav .nav-item {
  margin: 0 30px; /* Dá espaço entre os itens do menu */
}

.active-link{
  color: #7ED957;
}

.nav-link{
  color: #FFFF;
  font-weight: 500; 
}

.offcanvas{
    background-color: #a9e0ffb2;
}


.offcanvas-body {
  text-align: center;
  font-size: 37px;
}

.navbar-brand {
  background-color: transparent;
  margin-right:auto; /* Isso empurra os links para o centro */
}

.navbar-toggler{
    color: #7ED957;
   border: 3px solid #03A8E8 ;
}

@media (max-width: 590px) {
    img {
        width: 60px;
        height: auto;
        margin-left: 5px; /* Ajuste para dar espaço à logo */
      }
    
}
