
 
  @media (min-width: 992px) {
    .favorite-ong-card {
      flex: 0 0 25%; 
    }
  }
  
  
  @media (min-width: 768px) and (max-width: 991px) {
    .favorite-ong-card {
      flex: 0 0 50%; 
    }
  }
  
  
  @media (max-width: 767px) {
    .favorite-ong-card {
      flex: 0 0 100%; 
    }
  }
  