.ong-profile{
    margin-top: 128px;
    font-size: 1.3rem;
    border: 7px #81BCDE solid;
    border-radius: 15px;
}

.ongNome{
    font-size: 1.7rem;
    font-weight: 700;
}

@media (width <= 991px) {
    .ong-profile{
        margin-top: 69px;
    }
}