body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.coluna1 {
    background-color: #34495e;
}

.container-fluid {
    height: 100vh;
    display: flex;
    align-items: center;
}

.btnDoOng {
    padding: 10px 15px 10px 35px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: 0;
    transition: background-color 0.2s ease, color 0.2s ease;
    border-radius: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 25px;
}

.btnAtivo {
    background-color: white;
    color: #2c749ef8;
}

.icone {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: #2c749ef8;
}

.campoEntrada {
    height: 45px;
    border-radius: 0;
    border: 0;
    border-bottom: 2px #34495e solid;
    background-color: transparent;
}

.botoes {
    background-color: #34495e;
    position: sticky;
    top: 0;
}

.logoImg{
    margin: 0;
}

.form-control{
    border: 0;
    padding-left: 40px;
    font-weight: bold;
}

.btnEntrar{
    background-color: #34495e;
    color: white;
}

.btnEntrar:hover{
    background-color: #2c749ef8;
    color: white;
}

.enCa{
    color: #2c749ef8;
}

@media (max-width: 768px) {
    .botoes {
        flex-direction: row;
        justify-content: space-between;
    }
}
