nav {
    background-color: #34495e;
    border: white 4px solid;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
    padding: 17px;
}

.navbar-nav .nav-item {
    margin: 0 25px; 
}

.nav-link {
    font-weight: 750;
    color: white;
}

.profile-icon {
    position: absolute; 
    right: 20px;
    top: 50%; 
    transform: translateY(-50%); 
    color: white; 
}

.nav-link.profile-icon.active {
    color: #81Bcde; 
}

.nav-link.ativo.active{
    color: #81Bcde ;
}

.offcanvas {
    background-color: #a9e0ffb2;
}

.offcanvas-body {
    text-align: center;
    font-size: 25px;
}

.navbar-toggler {
    color: transparent;
    border: white 3px solid;
   
}


.nav-link:hover {
    color:#81Bcde;
}
