body{
    margin: 0;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2c749ef8;
  }
  
  .login-form {
    width: 50%;
    background-color: #c5eafff8;
    padding: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .login-logo {
    width: 100px;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .input-group {
    width: 75%; 
  }
  
  .input-group-text {
    background-color: #EEF9FF;
    border: none;
  }
  
  .form-control {
    width: 100%;
  }
  
  h3 {
    color: #34495e;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center; 
  }
  
  .btn-entrar,.btn-voltar {
    color: white;
    background-color: #2c749ef8;
    border-radius: 20px;
    padding: 8px;
    font-weight: 700;
    font-size: 30px;
    width: 25%;
  }
  
  .btn-voltar:hover {
    background-color: #7ED957;
  }
  .btn-entrar:hover {
    background-color: #7ED957;
  }
  
  @media (max-width: 1000px) {
    .login-form {
        width: 95%;
        padding: 40px 5px;
    }
    .input-group {
        width: 100%; 
      }
      .btn-entrar, .btn-voltar {
        width: 50%; 
        border-radius: 15px;
        margin-top: 10px;
      }
  }